<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fun Uses for MineCraft Command Blocks. </title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<h2>
    Lesson Objective
</h2>
<p>
    Assisting curious minds in finding new ways to use MineCraft commands.
</p>
<img th:src="@{/img/retro.png}" alt="Forbidden Love">
<h2>
    Vision Statement
</h2>
<p>
    This Site will continue to add pages for those curious in ways to implement command blocks into their MineCraft world or server.
</p>

<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>