<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<header th:fragment="header">
<!--     <a th:href="@{/}"><img th:src="@{/img/logo.png}"/></a> -->
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/commands/jump_scares}">Jump Scares</a></li>
            <li><a th:href="@{/commands/custom_mobs}">Custom Mob or Boss</a></li>
            <li><a th:href="@{/commands/timed_events}">Timed events</a></li>
            <!-- <li><a th:href="@{/glaciers/trail}">Ice Age Trail</a></li> -->

        </ul>
    </nav>
</header>
</body>
</html>